<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Karna.ge | Payments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container d-md-flex justify-content-md-center" style="margin-top: 25px;">
        <div class="col-md-6 col-lg-5 col-xl-5">
            <div class="card">
                <div class="card-body"><img src="{{ url_for('static', filename='img/banner-light.png') }}" style="width: 100%;">
                    {% if is_root %}
                        <div style="margin-top: 10px;border-bottom: 2px solid var(--bs-gray);"></div>
                        <h4 style="margin-top: 10px;">Admin area</h4>
                        <h5 style="margin-top: 5px;">Add product</h5>
                        <form action="/admin/add" method="POST">
                            <input placeholder="Display Name" type="text" class="form-control" name="name">
                            <input placeholder="Price (in dollars)" type="text" class="form-control" name="price">
                            <input placeholder="Discord role ID" type="text" class="form-control" name="role_id">
                            <textarea style="width: 100%;" name="description" placeholder="Product description"></textarea>
                            <br>

                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    {% endif %}
                    <div style="margin-top: 10px;border-bottom: 2px solid var(--bs-gray);"></div>
                    {% if 'discord' in session %}
                        <p style="margin-top: 10px;margin-bottom: 0;">
                            Welcome <strong>{{ session['discord']['username'] }}&nbsp;</strong>
                            {% if user and 'customer_id' in user %}
                                -&nbsp;<a class="link-info" href="/portal">Manage subscription</a>&nbsp;
                            {% endif %}
                            -&nbsp;<a class="link-info" href="/discord/logout">Logout</a>
                        </p>
                    {% else %}
                        <a class="btn btn-primary" href="/discord/login" style="margin-top: 10px;"><i class="fas fa-sign-in-alt"></i>&nbsp;Login with Discord</a>
                    {% endif %}
                    <div style="margin-top: 10px;border-bottom: 2px solid var(--bs-gray);"></div>
                    {% for product in products %}
                        <div class="card package">
                            <div class="card-body">
                                <h4 class="card-title">{{ product['name'] }}</h4>
                                <p>{{ product['description'] }}</p>
                                {% if 'discord' in session %}
                                    <form action="/subscription/{{ product['product_id'] }}" method="POST">
                                        <button class="btn btn-primary" type="submit" style="width: 100%;">Buy for <span style="font-weight: bold;">{{ product['price'] }} {{ currency }}</span></button>
                                    </form>
                                {% else %}
                                    <button class="btn btn-primary" disabled style="width: 100%;">Please log in</button>
                                {% endif %}
                                {% if is_root %}
                                    <form style="margin-top: 10px;" action="/admin/delete/{{ product['product_id'] }}" method="POST">
                                        <button class="btn btn-danger" type="submit" style="width: 100%;">Delete product</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>