<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ page_name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            content: [
                './templates/**/*.html',
            ],
            theme: {
                container: {
                    center: true,
                    padding: {
                        DEFAULT: '1.25rem',
                        lg: '1rem'
                    },
                },
                extend: {
                    'animation': {
                        'gradient-x':'gradient-x 10s ease infinite',
                        'gradient-y':'gradient-y 10s ease infinite',
                        'gradient-xy':'gradient-xy 10s ease infinite',
                    },
                    'keyframes': {
                        'gradient-y': {
                            '0%, 100%': {
                                'background-size':'400% 400%',
                                'background-position': 'center top'
                            },
                            '50%': {
                                'background-size':'200% 200%',
                                'background-position': 'center center'
                            }
                        },
                        'gradient-x': {
                            '0%, 100%': {
                                'background-size':'200% 200%',
                                'background-position': 'left center'
                            },
                            '50%': {
                                'background-size':'200% 200%',
                                'background-position': 'right center'
                            }
                        },
                        'gradient-xy': {
                            '0%, 100%': {
                                'background-size':'400% 400%',
                                'background-position': 'left center'
                            },
                            '50%': {
                                'background-size':'200% 200%',
                                'background-position': 'right center'
                            }
                        }
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4] flex h-screen justify-center items-center">
    <div class="container flex justify-center">
        <div class="basis-9/12">
            <div class="flex flex-col gap-3 items-center bg-[#101010] text-white p-10 shadow-md">
                {% if order_status == 'success' %}
                    <div class="w-full px-4 py-2 font-semibold text-center bg-green-500 shadow-md self-center">
                        <i class="fas fa-check-circle"></i>&nbsp;Subscription Successful! You have been granted your role in our Discord Server.
                    </div>
                {% elif order_status == 'cancel' %}
                    <div class="w-full px-4 py-2 font-semibold text-center bg-red-500 shadow-md self-center">
                        <i class="fas fa-exclamation-circle"></i>&nbsp;Subscription Unsuccessful! Contact a staff member if this persists.
                    </div>
                {% endif %}

                <a href="/"><img class="w-1/2 m-auto" src="{{ logo_url }}"></a>

                {% if 'discord' in session %}
                    <p>
                        Welcome <span class="font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4]">{{ session['discord']['username'] }}</span>
                        -
                        <a class="px-2 py-1 font-semibold text-center bg-red-500 hover:bg-red-400 shadow-md" href="/discord/logout">
                            <i class="fas fa-sign-out-alt"></i>&nbsp;Logout
                        </a>
                    </p>
                {% else %}
                    <a class="px-4 py-2 font-semibold text-center bg-[#5865F2] hover:scale-110 ease-out duration-300 shadow-md w-52" href="/discord/login">
                        <i class="fab fa-discord"></i>&nbsp;Login with Discord
                    </a>
                {% endif %}

                {% if is_root %}
                    <div class="w-full h-1 bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4]"></div>

                    <h1 class="text-5xl font-extrabold leading-normal text-transparent bg-clip-text bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4]">Admin Area</h1>
                    <h3 class="text-3xl font-extrabold text-white">Add a Product</h3>

                    <form class="flex flex-col gap-3" action="/admin/add" method="POST">
                        <input placeholder="Display Name" type="text" class="w-full py-2 px-3 text-gray shadow-md focus:outline-none focus:ring focus:ring-[#00a4dc] bg-[#181a1b]" name="name" required>

                        <div class="flex flex-col lg:flex-row gap-3">
                            <input placeholder="Price" type="number" class="lg:w-1/2 py-2 px-3 text-gray shadow-md focus:outline-none focus:ring focus:ring-[#766ad0] bg-[#181a1b]" name="price" required>

                            <input placeholder="Discord Role ID" type="text" class="lg:w-1/2 py-2 px-3 text-gray shadow-md focus:outline-none focus:ring focus:ring-[#766ad0] bg-[#181a1b]" name="role_id" required>
                        </div>

                        <textarea class="w-full py-2 px-3 text-gray shadow-md focus:outline-none focus:ring focus:ring-[#a85cc4] bg-[#181a1b]" name="description" placeholder="Product Description"></textarea>

                        <button type="submit" class="px-4 py-2 font-semibold text-center bg-green-500 hover:scale-110 ease-out duration-300 shadow-md self-center">
                            <i class="fas fa-plus-circle"></i>&nbsp;Add Product
                        </button>
                    </form>
                {% endif %}

                {% if monthly_goal %}
                    {% set percentage = ((currently_at / monthly_goal) * 100)|int if currently_at > 0 else 0 %}

                    <div class="w-full h-1 bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4]"></div>

                    <h1 class="text-4xl font-extrabold leading-normal text-transparent bg-clip-text bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4]">Monthly Goal</h1>

                    <div class="flex flex-col text-center gap-1">
                        <span style="white-space: pre-line">{{ monthly_goal_paragraph }}</span>
                        <span class="text-2xl font-extrabold text-white">{{ currency ~ currently_at|int }} / {{ currency ~ monthly_goal|int }}</span>
                    </div>

                    <div class="w-full lg:w-1/2 h-6 text-gray shadow-md bg-[#181a1b]">
                        <div class="h-6 text-right pr-3 animate-pulse bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4] animate-gradient-xy" style="width: {{ percentage if percentage < 100 else 100 }}%">{{ percentage }}%</div>
                    </div>
                {% endif %}

                <div class="w-full h-1 bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4]"></div>
                <div class="w-full flex flex-wrap justify-center gap-3">
                    {% for product in products %}
                        <div class="w-full lg:w-[49%] flex flex-col gap-2 text-center items-center p-5 shadow-md focus:outline-none focus:ring focus:ring-[#00a4dc] bg-[#181a1b]">
                            <h1 class="text-2xl font-extrabold leading-normal text-transparent bg-clip-text bg-gradient-to-r from-[#00a4dc] via-[#766ad0] to-[#a85cc4]">{{ product['name'] }}</h1>
                            <p>{{ product['description'] }}</p>

                            {% if 'discord' in session %}
                                {% if product['product_id'] not in product_ids %}
                                    <form action="/subscription/{{ product['product_id'] }}" method="POST">
                                        <button class="px-4 py-2 font-semibold text-center bg-green-500 hover:scale-110 ease-out duration-300 shadow-md self-center" type="submit">
                                            <i class="fas fa-credit-card"></i>&nbsp;Buy for {{ currency ~ product['price'] }}
                                        </button>
                                    </form>
                                {% else %}
                                <a class="px-4 py-2 font-semibold text-center bg-amber-600 hover:scale-110 ease-out duration-300 shadow-md self-center" href="/portal">
                                    <i class="fas fa-cogs"></i>&nbsp;Manage Subscription
                                </a>
                                {% endif %}
                            {% else %}
                                <button class="px-4 py-2 font-semibold text-center bg-green-900 shadow-md self-center" disabled>Sign in to Purchase</button>
                            {% endif %}

                            {% if is_root %}
                                <form action="/admin/delete/{{ product['product_id'] }}" method="POST">
                                    <button class="px-4 py-2 font-semibold text-center bg-red-500 hover:scale-110 ease-out duration-300 shadow-md self-center" type="submit">
                                        <i class="fas fa-trash"></i>&nbsp;Delete Product
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>